fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
redis
minio
pydantic
python-dotenv
httpx
aiofiles
requests
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
opentelemetry-distro
opentelemetry-instrumentation-fastapi
structlog
prefect
websockets
watchdog